In [1]:
#import library
import requests
import pandas as pd
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
#  API URL

URL = "https://earthquake.usgs.gov/fdsnws/event/1/query"

In [3]:

records = []

end_date = datetime.utcnow()
start_date = end_date - relativedelta(years=5)

current = start_date

while current < end_date:
    next_month = current + relativedelta(months=1)

    start = current.strftime("%Y-%m-%d")
    end = next_month.strftime("%Y-%m-%d")

    params = {
        "format": "geojson",
        "starttime": start,
        "endtime": end,
        "minmagnitude": 4
    }

    try:
        response = requests.get(URL, params=params, timeout=30)

        if response.status_code != 200 or not response.text.strip():
            print(f"⚠️ Failed for {start}")
            current = next_month
            continue

        data = response.json()
        print(f"✔ {start} → {len(data.get('features', []))} records")

        for feature in data.get("features", []):
            props = feature.get("properties", {})
            coords = feature.get("geometry", {}).get("coordinates", [None, None, None])

            records.append({
                "id": feature.get("id"),
                "time": pd.to_datetime(props.get("time"), unit="ms", errors="coerce"),
                "updated": pd.to_datetime(props.get("updated"), unit="ms", errors="coerce"),
                "latitude": coords[1],
                "longitude": coords[0],
                "depth_km": coords[2],
                "mag": props.get("mag"),
                "magType": props.get("magType"),
                "place": props.get("place"),
                "status": props.get("status"),
                "tsunami": props.get("tsunami", 0),
                "sig": props.get("sig"),
                "net": props.get("net"),
                "nst": props.get("nst"),
                "dmin": props.get("dmin"),
                "rms": props.get("rms"),
                "gap": props.get("gap"),
                "magError": props.get("magError"),
                "depthError": props.get("depthError"),
                "magNst": props.get("magNst"),
                "locationSource": props.get("locationSource"),
                "magSource": props.get("magSource"),
                "types": props.get("types"),
                "ids": props.get("ids"),
                "sources": props.get("sources"),
                "type": props.get("type"),
            })

    except Exception as e:
        print(f"❌ Error for {start}: {e}")

    current = next_month


df = pd.DataFrame(records)
df.drop_duplicates(subset="id", inplace=True)

print(df["time"].min(), "→", df["time"].max())

C:\Users\admin\AppData\Local\Temp\ipykernel_1588\2180509609.py:3: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  end_date = datetime.utcnow()

✔ 2021-02-11 → 2065 records
✔ 2021-03-11 → 1439 records
✔ 2021-04-11 → 1215 records
✔ 2021-05-11 → 1422 records
✔ 2021-06-11 → 1195 records
✔ 2021-07-11 → 1336 records
✔ 2021-08-11 → 2213 records
✔ 2021-09-11 → 1259 records
✔ 2021-10-11 → 1147 records
✔ 2021-11-11 → 1384 records
✔ 2021-12-11 → 1341 records
✔ 2022-01-11 → 1548 records
✔ 2022-02-11 → 1208 records
✔ 2022-03-11 → 1612 records
✔ 2022-04-11 → 1295 records
✔ 2022-05-11 → 1177 records
✔ 2022-06-11 → 1295 records
✔ 2022-07-11 → 1229 records
✔ 2022-08-11 → 1230 records
✔ 2022-09-11 → 1518 records
✔ 2022-10-11 → 1181 records
✔ 2022-11-11 → 1308 records
✔ 2022-12-11 → 1194 records
✔ 2023-01-11 → 1672 records
✔ 2023-02-11 → 1267 records
✔ 2023-03-11 → 1215 records
✔ 2023-04-11 → 1144 records
✔ 2023-05-11 → 1478 records
✔ 2023-06-11 → 1212 records
✔ 2023-07-11 → 1130 records
✔ 2023-08-11 → 1055 records
✔ 2023-09-11 → 1287 records
✔ 2023-10-11 → 1330 records
✔ 2023-11-11 → 2049 records
✔ 2023-12-11 → 1429 records
✔ 2024-01-11 → 1305 records
✔ 2024-02-11 → 1131 records
✔ 2024-03-11 → 1341 records
✔ 2024-04-11 → 1371 records
✔ 2024-05-11 → 1232 records
✔ 2024-06-11 → 1051 records
✔ 2024-07-11 → 1113 records
✔ 2024-08-11 → 1038 records
✔ 2024-09-11 → 1093 records
✔ 2024-10-11 → 1116 records
✔ 2024-11-11 → 1048 records
✔ 2024-12-11 → 1443 records
✔ 2025-01-11 → 1493 records
✔ 2025-02-11 → 1135 records
✔ 2025-03-11 → 1340 records
✔ 2025-04-11 → 1233 records
✔ 2025-05-11 → 1104 records
✔ 2025-06-11 → 1251 records
✔ 2025-07-11 → 3371 records
✔ 2025-08-11 → 1564 records
✔ 2025-09-11 → 1707 records
✔ 2025-10-11 → 1489 records
✔ 2025-11-11 → 1223 records
✔ 2025-12-11 → 1152 records
✔ 2026-01-11 → 848 records
2021-02-11 00:13:20.593000 → 2026-02-10 23:09:08.757000

In [4]:
print("\n✅ Data collected")
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])
print(df.head())

✅ Data collected
Rows: 81271
Columns: 26
           id                    time                 updated  latitude  \
0  us7000dhzz 2021-03-10 23:44:47.520 2021-05-21 19:49:15.040  -33.1413
1  us7000dkp2 2021-03-10 23:40:31.720 2021-05-21 19:52:59.040  -28.5295
2  us7000di00 2021-03-10 23:37:46.453 2021-05-21 19:49:15.040   52.3434
3  us7000dkp3 2021-03-10 23:32:04.817 2021-05-21 19:53:00.040  -28.9240
4  us7000dknz 2021-03-10 23:22:33.769 2021-05-21 19:52:58.040  -29.2547

   longitude  depth_km  mag magType                          place    status  \
0  -178.4728     10.00  5.2      mb  south of the Kermadec Islands  reviewed
1  -177.2653     10.00  4.4      mb        Kermadec Islands region  reviewed
2  -172.1987     79.88  4.2      mb       137 km E of Atka, Alaska  reviewed
3  -176.7775     10.00  4.5      mb        Kermadec Islands region  reviewed
4  -176.3487     10.00  4.4      mb        Kermadec Islands region  reviewed

   ...    gap  magError depthError  magNst  locationSource  magSource  \
0  ...   70.0      None       None    None            None       None
1  ...  234.0      None       None    None            None       None
2  ...  176.0      None       None    None            None       None
3  ...  123.0      None       None    None            None       None
4  ...  198.0      None       None    None            None       None

                 types                        ids  sources        type
0  ,origin,phase-data,               ,us7000dhzz,     ,us,  earthquake
1  ,origin,phase-data,               ,us7000dkp2,     ,us,  earthquake
2  ,origin,phase-data,  ,ak02136hzxyd,us7000di00,  ,ak,us,  earthquake
3  ,origin,phase-data,               ,us7000dkp3,     ,us,  earthquake
4  ,origin,phase-data,               ,us7000dknz,     ,us,  earthquake

[5 rows x 26 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81271 entries, 0 to 81270
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              81271 non-null  object
 1   time            81271 non-null  datetime64[ns]
 2   updated         81271 non-null  datetime64[ns]
 3   latitude        81271 non-null  float64
 4   longitude       81271 non-null  float64
 5   depth_km        81271 non-null  float64
 6   mag             81271 non-null  float64
 7   magType         81271 non-null  object
 8   place           81271 non-null  object
 9   status          81271 non-null  object
 10  tsunami         81271 non-null  int64
 11  sig             81271 non-null  int64
 12  net             81271 non-null  object
 13  nst             60236 non-null  float64
 14  dmin            80809 non-null  float64
 15  rms             81254 non-null  float64
 16  gap             80852 non-null  float64
 17  magError        0 non-null      object
 18  depthError      0 non-null      object
 19  magNst          0 non-null      object
 20  locationSource  0 non-null      object
 21  magSource       0 non-null      object
 22  types           81271 non-null  object
 23  ids             81271 non-null  object
 24  sources         81271 non-null  object
 25  type            81271 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(2), object(14)
memory usage: 16.1+ MB

In [6]:
#Step4: Convert 'time' and 'updated' to datetime
df["time"]=pd.to_datetime(df["time"],unit="ms",errors="coerce")
df["updated"] = pd.to_datetime(df["updated"],unit="ms", errors="coerce")

In [43]:
# Handle missing place
df['place'] = df['place'].fillna("unknown")

# Extract country
df['country'] = df['place'].str.extract(r',\s*([^,]+)$')
df['country'] = df['country'].fillna("unknown")

In [45]:
#Normalize alert Field to Lowercase(if exists)
if 'alert' in df.columns:
    df['alert'] = df['alert'].str.lower()

In [46]:
# Drop rows with missing time
df = df.dropna(subset=['time'])

In [47]:
#Clean All String Fields
text_columns = [
    'magType', 'status', 'type',
    'net', 'sources', 'types',
]

for col in text_columns:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip().str.lower()

In [48]:
#Clean Numeric Fields
import numpy as np

In [49]:
numeric_columns = [
    'mag', 'depth_km', 'nst', 'dmin', 'rms', 'gap',
    'magError', 'depthError', 'magNst', 'sig'
]

for col in numeric_columns:
    if col in df.columns:
        df[col]= pd.to_numeric(df[col],errors='coerce')

In [50]:
#Fill missing numeric values with median
# Median fill
median_fill_columns = ['mag', 'depth_km', 'rms', 'gap', 'magError', 'depthError']

for col in median_fill_columns:
    if col in df.columns:
        df[col] = df[col].fillna(df[col].median())

# Zero fill (count-based fields)
zero_fill_columns = ['nst', 'dmin', 'magNst', 'sig']

for col in zero_fill_columns:
    if col in df.columns:
        df[col] = df[col].fillna(0)

# Fill text fields
text_fill_columns = ['locationSource', 'magSource']

for col in text_fill_columns:
    if col in df.columns:
        df[col] = df[col].fillna("unknown")

In [51]:
df[numeric_columns].isnull().sum()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81352 entries, 0 to 81351
Data columns (total 27 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              81352 non-null  object
 1   time            81352 non-null  datetime64[ns]
 2   updated         81352 non-null  datetime64[ns]
 3   latitude        81352 non-null  float64
 4   longitude       81352 non-null  float64
 5   depth_km        81352 non-null  float64
 6   mag             81352 non-null  float64
 7   magType         81352 non-null  object
 8   place           81352 non-null  object
 9   status          81352 non-null  object
 10  tsunami         81352 non-null  int64
 11  sig             81352 non-null  int64
 12  net             81352 non-null  object
 13  nst             81352 non-null  float64
 14  dmin            81352 non-null  float64
 15  rms             81352 non-null  float64
 16  gap             81352 non-null  float64
 17  magError        0 non-null      float64
 18  depthError      0 non-null      float64
 19  magNst          81352 non-null  int64
 20  locationSource  81352 non-null  object
 21  magSource       81352 non-null  object
 22  types           81352 non-null  object
 23  ids             81352 non-null  object
 24  sources         81352 non-null  object
 25  type            81352 non-null  object
 26  country         81352 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(3), object(12)
memory usage: 16.8+ MB

In [52]:
#Add Derived columns
#Extract Date Features from time
df['time'] = pd.to_datetime(df['time'])
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day
df['day_of_week'] = df['time'].dt.day_name()

In [53]:
#Shallow/Deep Earthquake Flag (Based on depth_km)
df['depth_type'] = df['depth_km'].apply(
    lambda x: 'shallow' if x < 70 else 'deep'
)

In [54]:
#Strong/Destructive Flag (Based on mag)

def quake_strength(mag):
    if mag >=7.0:
        return 'destructive'
    elif mag >= 6.0:
        return 'strong'
    else:
        return 'moderate'
df['quake_strength'] = df['mag'].apply(quake_strength)

In [55]:
print(df.isnull().sum())
print("✅ Data cleaning completed")

id                    0
time                  0
updated               0
latitude              0
longitude             0
depth_km              0
mag                   0
magType               0
place                 0
status                0
tsunami               0
sig                   0
net                   0
nst                   0
dmin                  0
rms                   0
gap                   0
magError          81352
depthError        81352
magNst                0
locationSource        0
magSource             0
types                 0
ids                   0
sources               0
type                  0
country               0
year                  0
month                 0
day                   0
day_of_week           0
depth_type            0
quake_strength        0
dtype: int64
✅ Data cleaning completed

My SQL connection

In [19]:
!pip install pymysql sqlalchemy pandas

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\admin\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [56]:
from sqlalchemy import create_engine
import pandas as pd

In [58]:
df=pd.DataFrame(records)
print(df.shape)
df.head()

(81271, 26)

,id,time,updated,latitude,longitude,depth_km,mag,magType,place,status,...,gap,magError,depthError,magNst,locationSource,magSource,types,ids,sources,type
0,us7000dhzz,2021-03-10 23:44:47.520,2021-05-21 19:49:15.040,-33.1413,-178.4728,10.00,5.2,mb,south of the Kermadec Islands,reviewed,...,70.0,None,None,None,None,None,",origin,phase-data,",",us7000dhzz,",",us,",earthquake
1,us7000dkp2,2021-03-10 23:40:31.720,2021-05-21 19:52:59.040,-28.5295,-177.2653,10.00,4.4,mb,Kermadec Islands region,reviewed,...,234.0,None,None,None,None,None,",origin,phase-data,",",us7000dkp2,",",us,",earthquake
2,us7000di00,2021-03-10 23:37:46.453,2021-05-21 19:49:15.040,52.3434,-172.1987,79.88,4.2,mb,"137 km E of Atka, Alaska",reviewed,...,176.0,None,None,None,None,None,",origin,phase-data,",",ak02136hzxyd,us7000di00,",",ak,us,",earthquake
3,us7000dkp3,2021-03-10 23:32:04.817,2021-05-21 19:53:00.040,-28.9240,-176.7775,10.00,4.5,mb,Kermadec Islands region,reviewed,...,123.0,None,None,None,None,None,",origin,phase-data,",",us7000dkp3,",",us,",earthquake
4,us7000dknz,2021-03-10 23:22:33.769,2021-05-21 19:52:58.040,-29.2547,-176.3487,10.00,4.4,mb,Kermadec Islands region,reviewed,...,198.0,None,None,None,None,None,",origin,phase-data,",",us7000dknz,",",us,",earthquake

In [59]:
from sqlalchemy import create_engine

# Replace 'YourPassword' with your actual password
engine = create_engine(
    "mysql+pymysql://root:shivanika@localhost:3306/earthquakes_db"
)

# Test connection
try:
    conn = engine.connect()
    print("✅ Connected to MySQL!")
    conn.close()
except Exception as e:
    print("❌ Connection failed:", e)

✅ Connected to MySQL!

In [60]:
engine = create_engine(
    "mysql+pymysql://root:shivanika@localhost:3306/earthquakes_db"
)

In [61]:
engine.connect()

In [62]:
try:
    df.to_sql(
        name="earthquakes",
        con=engine,
        if_exists="append",
        index=False,
        chunksize=1000
    )
except Exception as e:
    print(e)

(pymysql.err.IntegrityError) (1062, "Duplicate entry 'us7000dhzz' for key 'earthquakes.PRIMARY'")
[SQL: INSERT INTO earthquakes (id, time, updated, latitude, longitude, depth_km, mag, `magType`, place, status, tsunami, sig, net, nst, dmin, rms, gap, `magError`, `depthError`, `magNst`, `locationSource`, `magSource`, types, ids, sources, type) VALUES (%(id)s, %(time)s, %(updated)s, %(latitude)s, %(longitude)s, %(depth_km)s, %(mag)s, %(magType)s, %(place)s, %(status)s, %(tsunami)s, %(sig)s, %(net)s, %(nst)s, %(dmin)s, %(rms)s, %(gap)s, %(magError)s, %(depthError)s, %(magNst)s, %(locationSource)s, %(magSource)s, %(types)s, %(ids)s, %(sources)s, %(type)s)]
[parameters: [{'id': 'us7000dhzz', 'time': datetime.datetime(2021, 3, 10, 23, 44, 47, 520000), 'updated': datetime.datetime(2021, 5, 21, 19, 49, 15, 40000), 'latitude': -33.1413, 'longitude': -178.4728, 'depth_km': 10.0, 'mag': 5.2, 'magType': 'mb', 'place': 'south of the Kermadec Islands', 'status': 'reviewed', 'tsunami': 0, 'sig': 416, 'net': 'us', 'nst': None, 'dmin': 5.136, 'rms': 0.77, 'gap': 70.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',us7000dhzz,', 'sources': ',us,', 'type': 'earthquake'}, {'id': 'us7000dkp2', 'time': datetime.datetime(2021, 3, 10, 23, 40, 31, 720000), 'updated': datetime.datetime(2021, 5, 21, 19, 52, 59, 40000), 'latitude': -28.5295, 'longitude': -177.2653, 'depth_km': 10.0, 'mag': 4.4, 'magType': 'mb', 'place': 'Kermadec Islands region', 'status': 'reviewed', 'tsunami': 0, 'sig': 298, 'net': 'us', 'nst': None, 'dmin': 0.92, 'rms': 0.6, 'gap': 234.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',us7000dkp2,', 'sources': ',us,', 'type': 'earthquake'}, {'id': 'us7000di00', 'time': datetime.datetime(2021, 3, 10, 23, 37, 46, 453000), 'updated': datetime.datetime(2021, 5, 21, 19, 49, 15, 40000), 'latitude': 52.3434, 'longitude': -172.1987, 'depth_km': 79.88, 'mag': 4.2, 'magType': 'mb', 'place': '137 km E of Atka, Alaska', 'status': 'reviewed', 'tsunami': 0, 'sig': 271, 'net': 'us', 'nst': None, 'dmin': 1.136, 'rms': 0.6, 'gap': 176.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',ak02136hzxyd,us7000di00,', 'sources': ',ak,us,', 'type': 'earthquake'}, {'id': 'us7000dkp3', 'time': datetime.datetime(2021, 3, 10, 23, 32, 4, 817000), 'updated': datetime.datetime(2021, 5, 21, 19, 53, 0, 40000), 'latitude': -28.924, 'longitude': -176.7775, 'depth_km': 10.0, 'mag': 4.5, 'magType': 'mb', 'place': 'Kermadec Islands region', 'status': 'reviewed', 'tsunami': 0, 'sig': 312, 'net': 'us', 'nst': None, 'dmin': 1.057, 'rms': 0.57, 'gap': 123.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',us7000dkp3,', 'sources': ',us,', 'type': 'earthquake'}, {'id': 'us7000dknz', 'time': datetime.datetime(2021, 3, 10, 23, 22, 33, 769000), 'updated': datetime.datetime(2021, 5, 21, 19, 52, 58, 40000), 'latitude': -29.2547, 'longitude': -176.3487, 'depth_km': 10.0, 'mag': 4.4, 'magType': 'mb', 'place': 'Kermadec Islands region', 'status': 'reviewed', 'tsunami': 0, 'sig': 298, 'net': 'us', 'nst': None, 'dmin': 1.381, 'rms': 0.96, 'gap': 198.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',us7000dknz,', 'sources': ',us,', 'type': 'earthquake'}, {'id': 'us7000dhzm', 'time': datetime.datetime(2021, 3, 10, 23, 19, 30, 244000), 'updated': datetime.datetime(2021, 5, 21, 19, 49, 14, 40000), 'latitude': 36.4818, 'longitude': 70.927, 'depth_km': 144.15, 'mag': 4.2, 'magType': 'mb', 'place': '43 km S of Jurm, Afghanistan', 'status': 'reviewed', 'tsunami': 0, 'sig': 271, 'net': 'us', 'nst': None, 'dmin': 0.701, 'rms': 0.5, 'gap': 91.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',dyfi,origin,phase-data,', 'ids': ',us7000dhzm,', 'sources': ',us,', 'type': 'earthquake'}, {'id': 'us7000dknx', 'time': datetime.datetime(2021, 3, 10, 22, 24, 46, 69000), 'updated': datetime.datetime(2021, 5, 21, 19, 52, 58, 40000), 'latitude': -23.2447, 'longitude': 171.906, 'depth_km': 10.0, 'mag': 4.8, 'magType': 'mb', 'place': 'southeast of the Loyalty Islands', 'status': 'reviewed', 'tsunami': 0, 'sig': 354, 'net': 'us', 'nst': None, 'dmin': 7.565, 'rms': 0.37, 'gap': 132.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',us7000dknx,', 'sources': ',us,', 'type': 'earthquake'}, {'id': 'us7000dknu', 'time': datetime.datetime(2021, 3, 10, 21, 57, 48, 20000), 'updated': datetime.datetime(2021, 5, 21, 19, 52, 57, 40000), 'latitude': -28.8694, 'longitude': -176.4047, 'depth_km': 10.0, 'mag': 4.3, 'magType': 'mb', 'place': 'Kermadec Islands region', 'status': 'reviewed', 'tsunami': 0, 'sig': 284, 'net': 'us', 'nst': None, 'dmin': 1.386, 'rms': 0.77, 'gap': 195.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',us7000dknu,', 'sources': ',us,', 'type': 'earthquake'}  ... displaying 10 of 1000 total bound parameter sets ...  {'id': 'us7000dh62', 'time': datetime.datetime(2021, 3, 3, 10, 21, 35, 74000), 'updated': datetime.datetime(2025, 12, 22, 19, 4, 23, 882000), 'latitude': 39.5708, 'longitude': 22.0342, 'depth_km': 10.0, 'mag': 4.9, 'magType': 'mb', 'place': '6 km SE of Oichalía, Greece', 'status': 'reviewed', 'tsunami': 0, 'sig': 369, 'net': 'us', 'nst': None, 'dmin': 0.596, 'rms': 0.51, 'gap': 84.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',iscgem620821174,us7000dh62,', 'sources': ',iscgem,us,', 'type': 'earthquake'}, {'id': 'us7000dh69', 'time': datetime.datetime(2021, 3, 3, 10, 20, 45, 759000), 'updated': datetime.datetime(2021, 5, 13, 22, 41, 58, 40000), 'latitude': 39.7681, 'longitude': 22.0881, 'depth_km': 10.0, 'mag': 4.8, 'magType': 'mb', 'place': '9 km E of Verdikoússa, Greece', 'status': 'reviewed', 'tsunami': 0, 'sig': 354, 'net': 'us', 'nst': None, 'dmin': 0.455, 'rms': 0.5, 'gap': 47.0, 'magError': None, 'depthError': None, 'magNst': None, 'locationSource': None, 'magSource': None, 'types': ',origin,phase-data,', 'ids': ',us7000dh69,', 'sources': ',us,', 'type': 'earthquake'}]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [63]:
print(df.columns.tolist())

['id', 'time', 'updated', 'latitude', 'longitude', 'depth_km', 'mag', 'magType', 'place', 'status', 'tsunami', 'sig', 'net', 'nst', 'dmin', 'rms', 'gap', 'magError', 'depthError', 'magNst', 'locationSource', 'magSource', 'types', 'ids', 'sources', 'type']

In [64]:
print(len(records))

81271

In [65]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+pymysql://root:shivanika@localhost:3306/earthquakes_db"
)

In [66]:
engine.connect()
print("✅ Connected")

✅ Connected

In [67]:
df.shape

(81271, 26)

In [68]:
query = "SELECT * FROM earthquakes"
df = pd.read_sql(query, engine)

In [33]:
df.shape

(81352, 26)

In [70]:
import pandas as pd

pd.read_sql("SHOW TABLES;", engine)

  Tables_in_earthquakes_db
0              earthquakes

In [71]:
pd.read_sql("DESCRIBE earthquakes;", engine)

             Field          Type Null  Key Default Extra
0               id   varchar(50)   NO  PRI    None
1             time      datetime  YES         None
2          updated      datetime  YES         None
3         latitude        double  YES         None
4        longitude        double  YES         None
5         depth_km        double  YES         None
6              mag         float  YES         None
7          magType   varchar(10)  YES         None
8            place  varchar(255)  YES         None
9           status   varchar(20)  YES         None
10         tsunami       tinyint  YES         None
11             sig           int  YES         None
12             net   varchar(10)  YES         None
13             nst           int  YES         None
14            dmin         float  YES         None
15             rms         float  YES         None
16             gap         float  YES         None
17        magError         float  YES         None
18      depthError         float  YES         None
19          magNst           int  YES         None
20  locationSource   varchar(10)  YES         None
21       magSource   varchar(10)  YES         None
22           types          text  YES         None
23             ids          text  YES         None
24         sources          text  YES         None
25            type   varchar(50)  YES         None

Magnitude & Depth
1)Top 10 strongest earthquakes(mag).

In [72]:
from tabulate import tabulate
query = """
SELECT 
    id, place, mag, depth_km, time
FROM earthquakes
WHERE mag IS NOT NULL
ORDER BY mag DESC
LIMIT 10;
"""

df_top10 = pd.read_sql(query, engine)
df_top10

,id,place,mag,depth_km,time
0,us6000qw60,"2025 Kamchatka Peninsula, Russia Earthquake",8.8,35.000,2025-07-29 23:24:52
1,ak0219neiszm,"2021 Chignik, Alaska Earthquake",8.2,35.000,2021-07-29 06:15:49
2,us6000f53e,2021 South Sandwich Islands Earthquake,8.1,22.790,2021-08-12 18:35:17
3,us7000dflf,"2021 Kermadec Islands, New Zealand Earthquake",8.1,28.930,2021-03-04 19:28:33
4,us6000jllz,"Pazarcik earthquake, Kahramanmaras earthquake ...",7.8,10.000,2023-02-06 01:17:34
5,us7000qx2g,"140 km E of Petropavlovsk-Kamchatsky, Russia",7.8,27.000,2025-09-18 18:58:15
6,us6000dg77,southeast of the Loyalty Islands,7.7,10.000,2021-02-10 13:19:56
7,us7000pn9s,"2025 Mandalay, Burma (Myanmar) Earthquake",7.7,10.000,2025-03-28 06:20:53
8,us6000kd0n,southeast of the Loyalty Islands,7.7,18.053,2023-05-19 02:57:03
9,us6000rtdt,"2025 Aomori Prefecture, Japan Earthquake",7.6,45.351,2025-12-08 14:15:10

2)Top 10 Deepest Earthquakes (by depth_km)

In [73]:
query = """
SELECT id, place, depth_km, mag, time
FROM earthquakes
WHERE depth_km IS NOT NULL
ORDER BY depth_km DESC
LIMIT 10;
"""

df_deepest = pd.read_sql(query, engine)
df_deepest

           id                        place  depth_km  mag                time
0  us6000k2db  208 km ENE of Sola, Vanuatu   681.238  4.0 2023-04-01 18:09:17
1  us7000kxdn               Vanuatu region   675.265  4.2 2023-09-18 15:35:27
2  us6000mivr                  Fiji region   671.043  4.2 2024-03-08 22:42:24
3  us6000rk66   205 km ESE of Levuka, Fiji   669.556  4.8 2025-10-29 17:07:34
4  us6000f2w3    283 km SE of Levuka, Fiji   669.460  4.0 2021-08-01 22:12:46
5  us7000q1jk     299 km E of Levuka, Fiji   667.237  4.2 2025-05-10 02:03:17
6  us6000dhfx    south of the Fiji Islands   664.740  4.5 2021-02-13 16:26:42
7  us7000he64   279 km ESE of Labasa, Fiji   664.700  4.3 2022-06-01 18:41:01
8  us6000m2wg   138 km NE of Sola, Vanuatu   660.826  4.1 2023-12-31 02:19:27
9  us7000ingi    south of the Fiji Islands   660.000  7.0 2022-11-09 09:51:04

3)Shallow earthquakes<50km and mag>7.5.

In [74]:
query = """
SELECT id, place, depth_km, mag, time
FROM earthquakes
WHERE depth_km < 50 AND mag > 7.5
ORDER BY mag DESC;
"""

df_shallow_strong = pd.read_sql(query, engine)
df_shallow_strong

,id,place,depth_km,mag,time
0,us6000qw60,"2025 Kamchatka Peninsula, Russia Earthquake",35.000,8.8,2025-07-29 23:24:52
1,ak0219neiszm,"2021 Chignik, Alaska Earthquake",35.000,8.2,2021-07-29 06:15:49
2,us6000f53e,2021 South Sandwich Islands Earthquake,22.790,8.1,2021-08-12 18:35:17
3,us7000dflf,"2021 Kermadec Islands, New Zealand Earthquake",28.930,8.1,2021-03-04 19:28:33
4,us6000jllz,"Pazarcik earthquake, Kahramanmaras earthquake ...",10.000,7.8,2023-02-06 01:17:34
5,us7000qx2g,"140 km E of Petropavlovsk-Kamchatsky, Russia",27.000,7.8,2025-09-18 18:58:15
6,us6000dg77,southeast of the Loyalty Islands,10.000,7.7,2021-02-10 13:19:56
7,us6000kd0n,southeast of the Loyalty Islands,18.053,7.7,2023-05-19 02:57:03
8,us7000pn9s,"2025 Mandalay, Burma (Myanmar) Earthquake",10.000,7.7,2025-03-28 06:20:53
9,us6000rgf4,Drake Passage,5.639,7.6,2025-10-10 20:29:20
10,us6000rtdt,"2025 Aomori Prefecture, Japan Earthquake",45.351,7.6,2025-12-08 14:15:10
11,us7000i9bw,"35 km SSW of Aguililla, Mexico",26.943,7.6,2022-09-19 18:05:08
12,us7000lff4,"19 km E of Gamut, Philippines",40.000,7.6,2023-12-02 14:37:04
13,us7000pcdl,"210 km SSW of George Town, Cayman Islands",14.326,7.6,2025-02-08 23:23:15

5)Average magnitude per magnitude type (magType).

In [75]:
query = """
SELECT magType, 
       AVG(mag) AS avg_magnitude, COUNT(*) AS total_events
FROM earthquakes
WHERE mag IS NOT NULL
GROUP BY magType
ORDER BY avg_magnitude DESC;
"""

df_magtype_avg = pd.read_sql(query, engine)
df_magtype_avg

       magType  avg_magnitude  total_events
0          mwc       6.150000             2
1          mwb       5.821429            28
2        ms_20       5.800000             1
3          mww       5.372884          6352
4          mwp       5.250000             1
5        ms_vx       4.600000             2
6   ml(texnet)       4.466667             3
7           mw       4.450025           215
8           mb       4.446302         71869
9          mwr       4.414310          2195
10          ml       4.323971           470
11          md       4.140896           212
12          mh       4.100000             1
13         mlv       4.093029             1

Time Analysis
6) Year with most earthquakes.

In [76]:
query = """
SELECT YEAR(time) AS year, COUNT(*) AS total_earthquakes
FROM earthquakes
WHERE time IS NOT NULL
GROUP BY YEAR(time)
ORDER BY total_earthquakes DESC
LIMIT 1;
"""
pd.read_sql(query, engine)

   year  total_earthquakes
0  2025              18253

7)Month with the Highest Number of Earthquakes

In [77]:
query = """
SELECT MONTH(time) AS month, COUNT(*) AS total_earthquakes
FROM earthquakes
WHERE time IS NOT NULL
GROUP BY MONTH(time)
ORDER BY total_earthquakes DESC
LIMIT 1;
"""
pd.read_sql(query, engine)

   month  total_earthquakes
0      8               7855

8) Day of Week with Most Earthquakes

In [78]:
query = """
SELECT DAYNAME(time) AS day_of_week, COUNT(*) AS total_earthquakes
FROM earthquakes
GROUP BY day_of_week
ORDER BY total_earthquakes DESC;
"""
pd.read_sql(query, engine)

  day_of_week  total_earthquakes
0     Tuesday              11827
1      Friday              11814
2   Wednesday              11789
3      Sunday              11642
4      Monday              11575
5    Saturday              11397
6    Thursday              11308

9)Count of Earthquakes per hour of day

In [79]:
query = """
SELECT HOUR(time) AS hour_of_day, COUNT(*) AS total_earthquakes
FROM earthquakes
GROUP BY hour_of_day
ORDER BY hour_of_day;
"""
df_hour = pd.read_sql(query, engine)
df_hour

    hour_of_day  total_earthquakes
0             0               3389
1             1               3626
2             2               3503
3             3               3723
4             4               3668
5             5               3249
6             6               3179
7             7               3313
8             8               3326
9             9               3302
10           10               3247
11           11               3222
12           12               3154
13           13               3399
14           14               3296
15           15               3409
16           16               3380
17           17               3417
18           18               3403
19           19               3389
20           20               3302
21           21               3558
22           22               3534
23           23               3364

10)Most Active Reporting Network(net)

In [80]:
query = """
SELECT net, COUNT(*) AS total_reports
FROM earthquakes
GROUP BY net
ORDER BY total_reports DESC
LIMIT 1;
"""
pd.read_sql(query, engine)

  net  total_reports
0  us          80290

Casualties & Economic Loss
11)Top 5 places with highest casualties.

In [81]:
query = """
SELECT 
    place,
    SUM(sig) AS total_casualty_score
FROM earthquakes
WHERE sig IS NOT NULL
GROUP BY place
ORDER BY total_casualty_score DESC
LIMIT 5;
"""
df_casualties = pd.read_sql(query, engine)
df_casualties

                              place  total_casualty_score
0     South Sandwich Islands region             1024577.0
1           Kermadec Islands region              609086.0
2         south of the Fiji Islands              558186.0
3  southeast of the Loyalty Islands              359551.0
4                       Fiji region              353047.0

Event Type & Quality Metrics
14) Count of reviewed vs automatic earthquakes (status).

In [82]:
query = """
SELECT status, COUNT(*) AS total_events
FROM earthquakes
GROUP BY status;
"""
pd.read_sql(query, engine)

      status  total_events
0   reviewed         81349
1  automatic             3

15)Count by earthquake Type (type)

In [83]:
query = """
SELECT type, COUNT(*) AS total_events
FROM earthquakes
GROUP BY type
ORDER BY total_events DESC;
"""
pd.read_sql(query, engine)

                type  total_events
0         earthquake         81334
1  volcanic eruption            11
2          landslide             3
3   mining explosion             2
4      mine collapse             1
5          explosion             1

16)Number of earthquake by data type(types)

In [84]:
query = """
SELECT types, COUNT(*) AS total_events
FROM earthquakes
GROUP BY types
ORDER BY total_events DESC;
"""
pd.read_sql(query, engine)

                                                 types  total_events
0                                  ,origin,phase-data,         63903
1                             ,dyfi,origin,phase-data,          5569
2                  ,earthquake-name,origin,phase-data,          1844
3               ,dyfi,moment-tensor,origin,phase-data,          1165
4                    ,moment-tensor,origin,phase-data,          1100
..                                                 ...           ...
436       ,impact-link,oaf,origin,phase-data,shakemap,             1
437  ,dyfi,losspager,moment-tensor,oaf,origin,phase...             1
438  ,associate,dyfi,losspager,moment-tensor,origin...             1
439  ,dyfi,earthquake-name,impact-link,losspager,mo...             1
440  ,associate,dyfi,earthquake-name,impact-link,lo...             1

[441 rows x 2 columns]

18)Events with High Station Coverage(nst > threshold

In [85]:
query = """
SELECT COUNT(*) AS high_station_events
FROM earthquakes
WHERE nst > 50;
"""
pd.read_sql(query, engine)

   high_station_events
0                20192

Tsunamis & Alerts 
19) Number of Tsunamis Triggered per year

In [86]:
query = """
SELECT YEAR(time) AS year, COUNT(*) AS tsunami_events
FROM earthquakes
WHERE tsunami = 1
GROUP BY YEAR(time)
ORDER BY year;
"""
pd.read_sql(query, engine)

   year  tsunami_events
0  2021             102
1  2022             125
2  2023             114
3  2024             108
4  2025             134
5  2026              13

In [87]:
import numpy as np
import pandas as pd

# Ensure datetime
df["time"] = pd.to_datetime(df["time"], errors="coerce")

# Extract year, month
df["year"] = df["time"].dt.year
df["month"] = df["time"].dt.month

# Extract country safely
if "country" not in df.columns:
    df["country"] = df["place"].str.split(",").str[-1].str.strip()

# Remove bad rows
df = df.dropna(subset=["time", "mag", "depth_km", "latitude"])

21)Top 5 countries with Highest Average Magnitutde(past 10years)

In [88]:
latest_year = df["year"].max()

query = (
    df[df["year"] >= latest_year - 10]
    .groupby("country")["mag"]
    .mean()
    .sort_values(ascending=False)
    .head(5)
)

query

country
Russia Earthquake                         8.10
New Zealand Earthquake                    8.10
2021 South Sandwich Islands Earthquake    8.10
Burma (Myanmar) Earthquake                7.70
Kahramanmaras earthquake sequence         7.65
Name: mag, dtype: float64

22)Find countries that have experienced both shallow and deep earthquakes within the same month.

In [89]:
df["depth_type"] = np.where(
    df["depth_km"] < 70, "shallow",
    np.where(df["depth_km"] > 300, "deep", "mid")
)

query = (
    df.groupby(["country", "year", "month"])["depth_type"]
    .nunique()
    .reset_index()
)

query = query[query["depth_type"] >= 2][["country"]].drop_duplicates()

query

                                                country
13                                          Afghanistan
87                                               Alaska
211                                            Anguilla
252                                           Argentina
501                                           Banda Sea
...                                                 ...
6816                     northwest of the Kuril Islands
6926  off the east coast of the North Island of New ...
7102                          south of the Fiji Islands
7162                      south of the Kermadec Islands
7343                   southeast of the Loyalty Islands

[72 rows x 1 columns]

23)Compute the year-over-year growth rate in the total number of earthquakes globally.

In [90]:
yearly_counts = df.groupby("year").size().reset_index(name="count")

yearly_counts["yoy_growth_%"] = yearly_counts["count"].pct_change() * 100

yearly_counts

   year  count  yoy_growth_%
0  2021  16160           NaN
1  2022  15749     -2.543317
2  2023  16231      3.060512
3  2024  14176    -12.660957
4  2025  18253     28.759876
5  2026    783    -95.710294

24) List the 3 most seismically active regions by combining both frequency and
average magnitude.

In [91]:
activity = (df.groupby("country").agg(frequency=("mag", "count"), avg_mag=("mag", "mean")))
activity["activity_score"] = activity["frequency"] * activity["avg_mag"]
query = activity.sort_values("activity_score", ascending=False).head(3)
query

           frequency   avg_mag  activity_score
country
Indonesia       7788  4.497175         35024.0
Russia          5708  4.496899         25668.3
Japan           4493  4.498798         20213.1

Depth, Location & Distance-Based Analysis. 
25) For each country, calculate the average depth of earthquakes within ±5° latitude range of the equator.

In [92]:
equator_df = df[(df["latitude"] >= -5) & (df["latitude"] <= 5)]
query =(equator_df.groupby("country")["depth_km"].mean().sort_values(ascending=False))
query

country
Celebes Sea                               444.357000
Banda Sea                                 339.384000
Philippines                               125.058206
Bismarck Sea                              106.018333
Papua New Guinea                           70.953161
Peru                                       66.450300
Indonesia                                  63.911921
Ecuador                                    62.629451
Peru-Ecuador border region                 59.683000
northern Peru                              55.071000
Molucca Sea                                51.905352
Colombia                                   40.301991
near the coast of Ecuador                  30.973000
Congo-Uganda                               14.775000
off the coast of Ecuador                   11.463533
South Indian Ocean                         11.333333
Venezuela                                  11.127000
Malaysia                                   11.016667
off the west coast of northern Sumatra     10.642857
Brazil                                     10.556000
Rwanda                                     10.441538
Guyana                                     10.351429
off the coast of Central America           10.322196
south of Panama                            10.209667
Carlsberg Ridge                            10.045306
central Mid-Atlantic Ridge                 10.010511
Ethiopia                                   10.000000
Federated States of Micronesia region      10.000000
Ecuador region                             10.000000
Colombia-Ecuador border region             10.000000
Burundi                                    10.000000
Chagos Archipelago region                  10.000000
South Sudan                                10.000000
east central Pacific Ocean                 10.000000
Panama                                     10.000000
South Atlantic Ocean                       10.000000
Kiribati region                            10.000000
Galapagos Triple Junction region           10.000000
North Indian Ocean                         10.000000
Palau                                      10.000000
north of Ascension Island                  10.000000
central East Pacific Rise                  10.000000
Tanzania                                   10.000000
Uganda                                     10.000000
west of the Galapagos Islands              10.000000
Democratic Republic of the Congo            9.906619
Kenya                                       9.866000
Gabon                                       9.818182
Name: depth_km, dtype: float64

26)Identify countries having the highest ratio of shallow to deep earthquakes.

In [93]:
shallow = df[df["depth_km"] < 70].groupby("country").size()
deep = df[df["depth_km"] > 300].groupby("country").size()
ratio_df = (shallow / deep).replace([np.inf, -np.inf], np.nan).dropna()
query = ratio_df.sort_values(ascending=False)
query

country
China                            1232.000000
Peru                              648.000000
Guam                              436.000000
Afghanistan                       243.000000
New Zealand                       144.555556
Solomon Islands                    87.750000
Russia                             53.065217
Vanuatu                            48.318182
Japan                              33.198198
south of the Kermadec Islands      31.823529
Papua New Guinea                   31.811594
Philippines                        28.297297
Indonesia                          20.587549
Guam region                        13.000000
Kermadec Islands region            10.696552
Italy                               8.181818
Northern Mariana Islands            7.450000
Banda Sea                           6.894737
Argentina                           6.371429
Japan region                        5.875000
Mariana Islands region              5.305556
Bismarck Sea                        5.000000
Flores Sea                          4.000000
Tonga                               2.745421
Malaysia                            1.500000
Bolivia                             1.055556
Vanuatu region                      1.020408
Santa Cruz Islands region           1.000000
Brazil                              0.928571
Timor Leste                         0.782828
Wallis and Futuna                   0.496689
Celebes Sea                         0.111111
south of the Fiji Islands           0.100990
Fiji                                0.092981
Fiji region                         0.028646
dtype: float64

27)Find the average magnitude difference between earthquakes with tsunami alerts and those without.

In [94]:
tsunami_mag = df[df["tsunami"] == 1]["mag"].mean()
non_tsunami_mag = df[df["tsunami"] == 0]["mag"].mean()
query = tsunami_mag - non_tsunami_mag
query

np.float64(0.9958600825678872)

28)Using the gap and rms columns, identify events with the lowest data reliability (highest average error margins).

In [95]:
df["error_score"] = df["gap"].fillna(0) + df["rms"].fillna(0)
query = df.sort_values("error_score", ascending=False)[["id", "place", "gap", "rms", "error_score"]].head(10)
query

,id,place,gap,rms,error_score
760,pr2021223002,"89 km E of Cruz Bay, U.S. Virgin Islands",348.0,0.26,348.26
816,pr2022295002,Leeward Islands,347.0,0.34,347.34
747,pr2021163002,"149 km NNW of The Valley, Anguilla",344.0,0.18,344.18
904,pr2024022000,"58 km NE of Samaná, Dominican Republic",343.0,0.53,343.53
908,pr2024033000,"72 km NE of Samaná, Dominican Republic",343.0,0.24,343.24
741,pr2021117001,"153 km NE of Cruz Bay, U.S. Virgin Islands",342.0,0.47,342.47
881,pr2023253001,"36 km E of Cruz Bay, U.S. Virgin Islands",342.0,0.19,342.19
771,pr2021338000,"89 km WNW of Sandy Ground Village, Anguilla",341.0,0.68,341.68
770,pr2021305013,"159 km NNW of The Valley, Anguilla",337.0,0.23,337.23
895,pr2023344000,"61 km NNE of Otra Banda, Dominican Republic",336.0,0.49,336.49

29)Find pairs of consecutive earthquakes (by time) that occurred within 50 km of each other and within 1 hour.

In [96]:
from math import radians, cos, sin, asin, sqrt
# Haversine distance function (km)
def haversine(lon1, lat1, lon2, lat2):
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    return 6371 * c  # Earth radius in km
# Sort by time
df_sorted = df.sort_values("time").reset_index(drop=True)
pairs = []
for i in range(1, len(df_sorted)):
    prev = df_sorted.iloc[i - 1]
    curr = df_sorted.iloc[i]
# Time difference in hours
    time_diff = (curr["time"] - prev["time"]).total_seconds() / 3600
    if time_diff <= 1:
        distance = haversine(prev["longitude"], prev["latitude"],curr["longitude"], curr["latitude"])
        if distance <= 50:
            pairs.append({
                "id_1": prev["id"],
                "id_2": curr["id"],
                "time_diff_hours": round(time_diff, 3),
                "distance_km": round(distance, 2)})
query = pd.DataFrame(pairs)
query

            id_1        id_2  time_diff_hours  distance_km
0     us6000dddp  us6000dddu            0.264         5.25
1     us6000dev2  us6000dev3            0.054        29.96
2     us6000ddkk  us6000dfvn            0.017        12.09
3     us6000dfvn  us6000ddkp            0.203         5.46
4     us6000ddkp  us6000ddku            0.568         2.92
...          ...         ...              ...          ...
6746  us6000s4xy  us6000s4xz            0.261         5.60
6747  us6000s4xz  us6000s4y2            0.092        41.69
6748  us6000s4yl  us6000s4yn            0.071        14.87
6749  us6000s4yn  us6000s4yq            0.083        35.23
6750  us6000s5ck  us6000s5cv            0.569         7.44

[6751 rows x 4 columns]

30)Determine the regions with the highest frequency of deep-focus earthquakes (depth > 300 km).

In [97]:
deep_focus = df[df["depth_km"] > 300]
query = (deep_focus.groupby("country").size().reset_index(name="deep_earthquake_count").sort_values("deep_earthquake_count", ascending=False))
query

                                            country  deep_earthquake_count
40                        south of the Fiji Islands                   1515
10                                      Fiji region                   1152
9                                              Fiji                   1097
34                                            Tonga                    546
14                                        Indonesia                    257
17                                     Japan region                    224
33                                      Timor Leste                    198
37                                Wallis and Futuna                    151
18                          Kermadec Islands region                    145
16                                            Japan                    111
27                                      Philippines                    111
28                                           Russia                     92
23                         Northern Mariana Islands                     80
24                                 Papua New Guinea                     69
36                                   Vanuatu region                     49
20                           Mariana Islands region                     36
1                                         Argentina                     35
39                   northwest of the Kuril Islands                     26
35                                          Vanuatu                     22
3                                         Banda Sea                     19
5                                           Bolivia                     18
41                    south of the Kermadec Islands                     17
6                                            Brazil                     14
31                                   Sea of Okhotsk                     12
15                                            Italy                     11
7                                       Celebes Sea                      9
21                                      New Zealand                      9
32                                  Solomon Islands                      8
29                        Santa Cruz Islands region                      4
22                                      North Korea                      4
11                                       Flores Sea                      2
30                                     Sea of Japan                      2
19                                         Malaysia                      2
0                                       Afghanistan                      1
8                                             China                      1
4                                      Bismarck Sea                      1
2                                          Bali Sea                      1
13                                      Guam region                      1
25                                             Peru                      1
12                                             Guam                      1
26                        Peru-Brazil border region                      1
38  eastern Russia-northeastern China border region                      1